extends ./layout/index

block main
    main.container.mt-5    
        .row 
            h1.fw-bold #{pagina}
        div.py-5
            img(src="assets/img/pre_viaje.jpg", alt="banner previaje", class="img-fluid")