extends ./layout/index

block main
    main.container.mt-5    
        .row 
            .col-md-5
                img(src="assets/img/nosotros.jpg", alt="nosotros", class="img-fluid")
            .col-md-7
                h1.fw-bold.text-center #{pagina}
                    p  Somos una empresa dedicada al turismo nacional e internacional, contamos con 20 años de 
                        trayectoria brindando los mejores viajes internacionales a más de 80 partes del mundo, por el lado nacional 
                        recorremos todas las provincias con los mejores paquetes turísticos y super accesible para todos los argentinos, 
                        contamos con pre-viajes el nuevo plan del gobierno que te reintegra en el 50% de lo abonado en cualquier paquete nacional. 
                    
                    p   Contamos con los mejores hoteles, la mejor atención y las mejores excursiones, puedes contratar paquetes familiares, 
                        paquetes individuales o paquetes románticos. Tenemos increíbles descuentos por cada compra que hagas, 
                        en una nueva metodología en la que mas viajes contrates con nosotros, mas descuentos obtendrás. 

                    p   Tenemos 25 locales distribuidos por todo el país, para brindarte la mejor atención. Aceptamos todos los métodos de pagos 
                        con todas las tarjetas de créditos, aceptamos dólares y también aceptamos Cryptos. 
    div.listado-iconos 
        div.container.mt-4.py-5.text-center 
            div.row
                div.col-md-4
                    img(src="assets/svg/icono_seguridad.svg", alt="seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p   Brindamos la mejor seguridad en sus metodos de pagos, tenemos una acceso especial a cada familiar que usted escoja
                        para el seguimientos de nuestros micros de larga distancia, tambien contamos con nuestra propia asistencia medica.
                div.col-md-4
                    img(src="assets/svg/icono_destinos.svg", alt="seguridad", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p   Los mejores destinos naciones e internacionales, conoce toda la argentina, te llevamos a los lugares mas hermosos de nuestro    
                        pais . En los destinos interncaionales te llevamos a conocer los lugares mas exoticos de todo el mundo.
                div.col-md-4
                    img(src="assets/svg/icono_precios.svg", alt="seguridad", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p   Ofrecemos los mejores precios en el mercado, los mejores metodos de pago y te reembolsamos el dinero con 30 dias previos 
                        al viaje por casusas personales, salud, y otras mas.