footer.container.py-4
    div.row
        div.col-md-6
            nav.nav.footer.justify-content-center.justify-content-md-start
                a.nav-link.nav-ancla.text-decoration-none.text-black.fw-bold(href="/nosotros") Nosotros 
                a.nav-link.nav-ancla.text-decoration-none.text-black.fw-bold(href="/viajes") Viajes
                a.nav-link.nav-ancla.text-decoration-none.text-black.fw-bold(href="/testimonios") Testimonios
        div.col
            p.copyrigth.text-center.text-md-rigth.text-black.fw-bold
                | Todos los derechos reservados
                span  #{yearCurrently}