header 
    div.navegacion 
        div.container
            div.row.justify-content-center.justify-content-md-between.align-items-center.py-3
                div.col-md-4.col-6
                    a(href="/") 
                        img(src="assets/svg/logo.svg", alt="sitio logo", class='logo-icon')
                div.col-md-8
                    nav.mt-5.mt-md-0.nav.justify-content-center.justify-content-md-end
                        a.nav-link.nav-ancla.text-decoration-none.text-white(href="/nosotros") Nosotros 
                        a.nav-link.nav-ancla.text-decoration-none.text-white(href="/viajes") Viajes
                        a.nav-link.nav-ancla.text-decoration-none.text-white(href="/testimonios") Testimonios